* { 
 margin: 0;
padding: 0;
}

body{
    background: #441802; 
    color: #737373;
    font-size: 12px;
    font-family: verdana;
}

.container{
    margin: auto;
    width: 90%;
    background: wheat;
    padding-bottom: 5%;
}

.bg img {
    width: 100%;
}

.input{
    border: white 1px solid;
    margin: auto;
    border-radius: 2%;
    padding: 4%;
    width: 60%;
    margin-top: 3%;
    text-align: center;
    background: white;
    color: black;

}

.input img {
    width: 30%;
}

input, select {
    outline: none;
    background-color: #FDFBFB;
    border: 1px solid #BBBBBB;
    padding: 2%;
    border-radius: 4%;
    margin: 1%;
    width: 40%;
}

button {
    background: #0984e3;
    color: white;
    border: none;
    padding: 2%;
    width: 40%;
    margin: 1%;
    border-radius: 2%;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
} 

input:focus {
    outline: #74b9ff 1px solid;
}
